body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #444;
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	font-weight: 700;
	margin: 0 5px;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

pre {
	overflow: scroll;
}

.back-to-top {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 1.4em;
	padding: 0;
	opacity: 0.8;
	z-index: 10;
}


.header {
	box-shadow: 0 1px 2px rgba(25, 25, 25, 0.4);
	background-color: #fefefe;
	color: #444;
	background-image: linear-gradient(0deg, #f7f7f7, #fff);
	padding: 5px;
	width: calc(100% - 10px);
	height: 25px;

	display: -webkit-flex;
	display: -moz-flex;
	display: flex;

	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

.subreddits-dropdown {
	position: absolute;
	top: 35px;
	left: 0px;
	background-color: white;
	border: 1px solid #acacac;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(25, 25, 25, 0.4);
}

.subreddits {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;

	min-width: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.subreddit + .subreddit:before {
	content: '\e80c';
	font-family: "fontello";
	font-size: 0.8em;
	margin: 0 0.2em 0 0.5em;
	color: #999;
}

.subreddit-actions {
	margin: 0 0 0 5px;
}

.subreddit {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
}

.subreddit-dropdown, .subreddit {
	cursor: pointer;
}

.subreddits-dropdown .selected, .subreddits .selected {
	color: #4980df;
}

.remove-subreddit {
	position: absolute;
	right: -18px;
	top: -5px;
	color: #7e2a68;
}



.subreddit-controls, .add-form, .remove-form {
	height: 28px;
}

.button-icon {
	outline: none;
	background: none;
	padding: 0;
	color: #666;
	cursor: pointer;
}

.subreddit-name-field {
	outline: none;
	padding: 4px 10px;
	border: 1px solid #acacac;
	border-radius: 3px;
}

.add-form .button-icon {
	position: relative;
	top: 2px;
}

.cancel-button {
	margin: 0;
}

.add-button {
	margin: 0 0 0 -30px;
}

button {
	border: none;
	background: none;
	font-size: 1.1em;
}

button:hover {
	color: #4980df;
	cursor: pointer;
}


.listings {
	-ms-column-count: 1;
	-ms-column-gap: 0;
	-ms-column-fill: balance;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-moz-column-fill: balance;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	-webkit-column-fill: balance;
	column-count: 1;
	column-gap: 0;
	column-fill: balance;

	line-height: 1.7;
	padding: 5px;
	margin: 0;
	width: calc(100% - 10px);
}

@media (min-width: 540px) {
	.listings { -ms-column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; column-count: 2; }
}

@media (min-width: 750px) {
	.listings { -ms-column-count: 3; -moz-column-count: 3; -webkit-column-count: 3; column-count: 3; }
}

@media (min-width: 960px) {
	.listings { -ms-column-count: 4; -moz-column-count: 4; -webkit-column-count: 4; column-count: 4; }
}

@media (min-width: 1170px) {
	.listings { -ms-column-count: 5; -moz-column-count: 5; -webkit-column-count: 5; column-count: 5; }
}

@media (min-width: 1380px) {
	.listings { -ms-column-count: 6; -moz-column-count: 6; -webkit-column-count: 6; column-count: 6; }
}

@media (min-width: 1590px) {
	.listings { -ms-column-count: 7; -moz-column-count: 7; -webkit-column-count: 7; column-count: 7; }
}

.listing {
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid;
	display: inline-block;
	width: calc(100% - 10px);
	margin: 5px;
	padding: 0;
	box-shadow: 0 1px 2px rgba(25, 25, 25, 0.4);
	background-color: #fefefe;
	background-image: linear-gradient(0deg, #f7f7f7, #fff);
}

.listing, .listing img {
	border-radius: 3px;
}

.listing .content {
	padding: 5px;
}

.listing .title {
	text-align: center;
}

.full-image img {
	width: 100%;
}

.media {
	position: relative;
	display: inline-block;
}

.play {
	position: absolute;
	top: 50%;
	right: 50%;
	width: 50px;
	height: 50px;
	border: 3px solid #fff;
	margin: -40px -30px;
	border-radius: 30px;
	box-shadow: 0px 0px 5px black;
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 0.8;
}

.play span {
	position: absolute;
	top: 10px;
	left: 16px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 25px solid #fff;
}

.play:hover {
	opacity: 1;
}

.media {

}

.listing .thumbnail img {
	padding: 0;
	border-radius: 3px;
}

.listing .thumbnail {
	text-align: center;
	display: block;
	margin: 10px 0 0 0;
}

.listing img {
	padding: 0 0 10px 0;
	margin: 0;
}

.listing p {
	padding: 0 5px 15px 5px;
	margin: 0;
}

.self-text {
	font-size: 0.95em;
}

.self-text a {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100%;
	vertical-align: top;
}

.listing > .content {
	max-width: 700px;
	margin: 0 auto;
}

a:link, a:visited {
	color: #4980df;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.controls a:link, .controls a:visited, .control {
	color: #666;
	text-decoration: none;
}

.controls a:hover, .controls a:active {
	color: #4980df;
	text-decoration: none;
}

.controls {
	text-align: center;
	font-size: 0.9em;
	margin: 0 0 10px 0;
}

.control {
	padding: 0 5px;
}

.control-text {
	margin-left: 1px;
	font-size: 0.8em;
}



.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	width: calc(100% - 2px);
	border: 1px solid;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
