body {
	text-align: center;
	font-family: "Raleway", sans-serif;
	color: #333;
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3em;
	font-weight: 100;
	margin: 0 0 30px 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section, footer, .listing {
	padding: 40px 10px;
	margin: 0;
}

.main {
	background-color: #b8b8b8;
	border-bottom: 5px solid #b1b1b1;
}



.subreddits {
	margin: 0;
}

.subreddits li {
	display: inline-block;
	cursor: pointer;
}

.subreddits li + li {
	margin-left: 1em;
}

.subreddits li.selected {
	color: #4980df;
}

.subreddit-actions {
	margin: 30px 10px 0 10px;
}

.subreddit-controls, .add-form {
	font-size: 1em;
	height: 28px;
}

.subreddit-name-field {
	outline: none;
	background: none;
	padding: 4px 10px;
	border: 1px solid #333;
	border-radius: 20px;
}

.add-form button {
	outline: none;
	background: none;
	position: relative;
	top: 2px;
}

button {
	border: none;
	background: none;
	font-size: 1em;
}

button:hover {
	color: #4980df;
	cursor: pointer;
}

.subreddit-actions ::-webkit-input-placeholder {
	color: #777;
	font-family: "Raleway", sans-serif;
}





.listings {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
}



.listing:nth-child(even) {
	background-color: #cfcfcf;
}

.listings .full-image {
	width: 95%;
}

.listings img {
	padding-top: 0;
	margin-top: 0;
	border: 1px solid #333;
}

.listing .controls {
	text-align: center;
}

.listing {
	font-size: 1em;
	font-weight: 200;
	margin: 0 auto;
}

.listing > .content {
	max-width: 700px;
	margin: 0 auto;
}




.listing a:link, .listing a:visited {
	color: #333;
	text-decoration: none;
}

.listing a:hover, .listing a:active {
	color: #4980df;
	text-decoration: none;
}

.controls {
	font-size: 1.1em;
}

.detail + .detail, .control {
	margin-left: 10px;
}

.controls .open {
	font-size: 0.95em;
	position: relative;
	top: -1px;
}

.num-comments {
	position: relative;
	top: -12px;
	left: -9px;
	font-size: 0.5em;
	border: 1px solid black;
	margin-right: -11px;
	padding: 1px 2px;
	display: inline-block;
	background-color: #ddd;
	border-radius: 10px;
	min-width: 10px;
}

.controls, .details {
	display: inline-block;
}

.details {
	font-size: 0.7em;
	position: relative;
	top: -3px;
}


.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	max-width: 95%;
	margin: 0 auto;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hidden {
	position: absolute;
	left: -100%;
}
