<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<title>Reddit Images</title>

	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-resource.min.js"></script>
	<script src="scripts/angular-cookies.min.js"></script>
	<script src="scripts/angular-sanitize.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/main.js"></script>

	<link href="http://fonts.googleapis.com/css?family=Raleway:200,100" rel="stylesheet" type="text/css">
	<link href="css/elusive-webfont.css" rel="stylesheet" type="text/css">
	<link href="css/flat.css" rel="stylesheet" type="text/css">
	<link href="images/favicon.png" rel="shortcut icon" type="image/png">
</head>

<body ng-app="main" ng-controller="MainCtrl">

	<section class="main">
		<h1>Reddit Images</h1>

		<ul class="subreddits">
			<li ng-repeat="subreddit in subreddits"
			    ng-click="toggle(subreddit)"
			    ng-class="{selected: subreddit.selected}">{{subreddit.name}}</li>
		</ul>
	</section>

	<ul class="listings">
		<li class="listing {{item.listing_type}}"
		    ng-repeat="item in items"
		    ng-show="isSelected(item.subredditName)">

			<div class="content">
				<p class="title">{{item.data.title}}</p>
				<!-- <p>{{item.listing_type}}</p> -->

				<div ng-switch on="item.listing_type">
					<img ng-switch-when="image" class="full-image" ng-src="{{item.data.url}}" />
					<img ng-switch-when="image-album" class="thumbnail" ng-src="{{item.data.thumbnail}}" ui-if="item.data.thumbnail != 'default'" />
					<img ng-switch-when="image-thumbnail" class="thumbnail" ng-src="{{item.data.thumbnail}}" />
					<div class="video-container" ng-switch-when="media">
						<div ng-bind-html-unsafe="unescape(item.data.media.oembed.html)"></div>
					</div>
					<p ng-switch-default>{{item.data.selftext}}</p>
				</div>

				<p class="controls">
					<a class="open" ng-hide="item.listing_type === 'post'" ng-href="{{item.data.url}}" target="_blank"><i class="icon-fullscreen"></i></a>
					<a ng-href="http://www.reddit.com{{item.data.permalink}}" target="_blank"><i class="icon-comment"></i><span>{{item.data.num_comments}}</span></a>
				</p>
			</div>

		</li>
	</ul>

</body>

</html>

