<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<title>Reddit Images</title>

	<script src="scripts/jquery-1.9.1.min.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-resource.min.js"></script>
	<script src="scripts/angular-sanitize.min.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/main.js"></script>

	<link href="http://fonts.googleapis.com/css?family=Raleway:200,100|Roboto:100,300" rel="stylesheet" type="text/css">
	<link href="css/elusive-webfont.css" rel="stylesheet" type="text/css">
	<link href="css/flat.css" rel="stylesheet" type="text/css">
	<link href="images/favicon.png" rel="shortcut icon" type="image/png">
</head>

<body ng-app="main" ng-controller="MainCtrl">
	<button class="back-to-top" ng-show="showBackToTop" ng-click="scrollTop()"><i class="icon-chevron-up"></i></button>

	<section class="main">
		<h1>Reddit Images</h1>

		<ul class="subreddits">
			<li class="subreddit"
			    ng-repeat="subreddit in subreddits"
			    ng-click="removeOpen ? removeSubreddit(subreddit) : toggle(subreddit)"
			    ng-class="{selected: subreddit.selected}">
				{{subreddit.name}}
				<button class="remove-subreddit" ng-show="removeOpen" ng-click="removeSubreddit(subreddit)"><i class="icon-remove-sign"></i></button>
			</li>
		</ul>

		<div class="subreddit-actions">
			<div class="subreddit-controls" ng-hide="addOpen || removeOpen">
				<button class="subreddit-add" ng-click="openSubredditForm()"><i class="icon-plus"></i></button>
				<button class="subreddit-remove" ng-click="removeOpen = true"><i class="icon-minus"></i></button>
			</div>

			<form class="add-form" ng-submit="addSubreddit()" ng-show="addOpen">
				<input type="text" class="subreddit-name-field" ng-model="newSubredditName" placeholder="subreddit name"/>
				<button class="add-button"><i class="icon-ok"></i></button>
				<button onclick="return false;" class="cancel-button" ng-click="addOpen = false"><i class="icon-remove"></i></button>
			</form>

			<button class="remove-form" ng-show="removeOpen" ng-click="removeOpen = false">
				<i class="icon-ok"></i>
			</button>
		</div>
	</section>

	<ul class="listings">
		<li class="listing {{item.listing_type}}"
		    ng-repeat="item in items | orderBy:'index'"
		    ng-show="isSelected(item.subreddit.name)">

			<div class="content">
				<p ng-bind-html="item.data.title"></p>
				<!-- <p>{{item.listing_type}}</p> -->

				<div ng-switch on="item.listing_type">
					<img ng-switch-when="image" class="full-image" ng-src="{{item.data.url}}" onerror="this.style.display='none'" />
					<img ng-switch-when="image-album" class="thumbnail" ng-src="{{item.data.thumbnail}}" ui-if="item.data.thumbnail != 'default'" onerror="this.style.display='none'" />
					<img ng-switch-when="image-thumbnail" class="thumbnail" ng-src="{{item.data.thumbnail}}" onerror="this.style.display='none'" />
					<div class="video-container" ng-switch-when="media">
						<div ng-bind-html-unsafe="unescape(item.data.media.oembed.html)"></div>
					</div>
					<p ng-switch-default ng-bind-html="item.data.selftext" class="self-text"></p>
				</div>

				<p class="details">
					<a class="detail" ng-href="http://www.reddit.com/u/{{item.data.author}}" target="_blank"><i class="icon-user"></i> {{item.data.author}}</a>
					<span class="detail"><i class="icon-thumbs-up"></i> {{item.data.score}}</span>
				</p>

				<p class="controls">
					<a class="control open" ng-hide="item.listing_type === 'post'" ng-href="{{item.data.url}}" target="_blank" ng-switch="item.listing_type">
						<i ng-switch-when="image" class="icon-fullscreen"></i>
						<i ng-switch-default="" class="icon-globe"></i>
					</a>
					<a class="control" ng-href="http://www.reddit.com{{item.data.permalink}}" target="_blank" ><i class="icon-comment"></i><span class="num-comments">{{item.data.num_comments}}</span></a>
				</p>

			</div>

		</li>
	</ul>

</body>

</html>

